.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.item-description {
  font-size: 2em;
  margin: 3px;
}

.item-description:hover {
  text-decoration: line-through;
  text-decoration-color: red;
  cursor: pointer;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(57, 57, 57);
}

.items-box {
  border: solid 5px black;
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(146, 146, 146);
  min-height: 550px;
}
