.sign-in-up-links {
  position: absolute;
  right: 15px;
  top: 15px;
}

.link {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  border: solid black 4px;
  border-radius: 15px;
  background-color: rgb(69, 69, 69);
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(108, 108, 203);
  height: 120px;
}

h1 {
  font-size: 2.5em;
}
